body{
  margin:0;
  font-family:Arial;
  background:linear-gradient(135deg,#1e90ff,#00d2ff);
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
}

.container{
  text-align:center;
  background:rgba(0,0,0,0.2);
  padding:40px;
  border-radius:15px;
}

h1{
  font-size:48px;
}

p{
  margin:20px 0;
  font-size:18px;
}

button{
  padding:12px 24px;
  margin:10px;
  font-size:16px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

.signup{
  background:#ffcc00;
}

button:hover{
  opacity:0.9;
}
.card{
  background:white;
  color:black;
  padding:30px;
  border-radius:15px;
  width:300px;
  margin:auto;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.safe{
  color:green;
  font-weight:bold;
}

.danger{
  color:red;
  font-weight:bold;
}
