body{
  font-family: Arial;
  text-align:center;
  padding:40px;
}

input{
  padding:10px;
  width:200px;
}

button{
  padding:10px 20px;
  margin:10px;
  cursor:pointer;
}

#result{
  margin-top:20px;
  font-size:18px;
}
